      .sidebar {
        height: 100vh;
        position: fixed;
        right: 0;
      }
      .logo {
        height: 60px;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
        background: rgba(255, 255, 255, 0.2);
        margin-bottom: 16px;
      }